//Colours should always only appear in this colours.scss
$black: #0a0a0a;
$black-lighter: #222;
$white: #fff;
$white-darker: #f6f6f6;
$textRES: #414f7e;
$mainButton-bg: #414f7e;
$blue:#65a9df;
$buttom:#414f7e;
$fone-text: #e6f1fa;
$blue:#414f7e;
$blue-comandos:#c3e0f8;
$grey:#888888;
