.bxSliderComandos{
  @media screen and (min-width:769px){
    .bx-wrapper{
      box-shadow:none;
      border:0;
      background: $blue-comandos;
      margin-bottom: 0;
       .bx-prev {
          left: 40px;
          background: url('../images/Slice_12.png') no-repeat;
        }
       .bx-next {
         right: 40px;
           background: url('../images/Slice_13.png') no-repeat;
        }
      }
    }
  }
