.namber{
  display: none;
  @media screen and (min-width:769px){
  display: block;
  position: absolute;
  top:0;
  right:120px;
    p{
      color:$textRES;
      font-family:$font-base;
      font-size: 32px;
      font-weight: 300;
      line-height: 22px;
      margin-bottom: 5px;
    }
    span{
      color:$textRES;
      font-family:$font-base;
      font-size: 25px;
      font-weight: 300;
      opacity: 0.8;
    }
  }
}
