.seÑtion{
  @media screen and (min-width:769px){
    background-image: url(../images/sectionFon.png);
    background-repeat:repeat;
    padding: 20px 0;
  }
  ul{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    @media screen and (min-width:769px){
      display: flex;
      padding-left: 0;
      margin:0;
      position: relative;
      flex-direction: row;
    }
    li{
      display:block;
      width:100%;
      margin-bottom: 10px;
      @media screen and (min-width:769px){
        padding: 0 10px;
        > div {
          position: relative;
          overflow: hidden;
          &::after {
            display: block;
            height: auto;
            width: 100%;
            padding-bottom: 67%;
            content: "";
          }
        }
      }
    }
    img{
      display: block;
      width: 100%;
      @media screen and (min-width:769px){
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-height: 100%;
        min-width: 100%;
      }
      .imgBig{
        @media screen and (min-width:769px){
        }
      }
      .imgSmall{
        @media screen and (min-width:769px){
          width: 40%;
          height: 478px;
        }
      }
    }
    p{
      display: block;
      float: right;
      text-decoration: none;
      color: #414f7e;
      font-size: 30px;
      font-family: "brutal_typeregular";
      font-weight: 500;
      letter-spacing: 0.3px;
      padding: 6px 10px;
      background-color: #fff;
      opacity: 0.7;
      margin-top: -50px;
      @media screen and (min-width:769px){
        display: block;
        text-decoration: none;
        position: absolute;
        bottom:0;
        float: left;
        color: #414f7e;
        padding: 6px 25px;
        font-family: $font-base;
        font-size: 35px;
        font-weight: 500;
        letter-spacing: 0.3px;
        background-color:$white;
        opacity: 0.7;
        bottom: 20px;
        margin: 0;
      }
    }
  }
}
